.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    max-width: 920px; 
    margin: 0 auto;
    list-style: none;
    padding: 0px;
    }