.resources {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    color: #000000;
    margin: 0px;
  }