.video__iframe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 515px;
    height: 316px;
    margin: 0px auto -30px auto;
    width: 560;
    height: 315;
  }
  
  .video__iframe:first-child {
    padding-right: 20px;
  }