.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

div {
  border: 1px solid red; 
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo {
position: absolute;
height: 32px;
width: 228px;
top: 30px;
left: 64px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
}

.logo_place_header {

}

.header__main-illustration {
  position: absolute; 
  height: 608px;
  width: 765px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.header__main-illustration-img {
  height: 608px;
  width: 765px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  size: 568px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  align-items: center;
  /*border: 4px dashed green;*/
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  min-height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  width: 80%;
}

.two-columns_brief {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns_main-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_paragraph {
  align-self: center;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  
}

.two-columns_paragraph1 {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns_paragraph2 {
  align-self: center;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  
}

.two-columns_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  }
  
  .digits {
    display: flex;
    align-items: center;
  }
   
  .section-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
  }

  .section-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }

.table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-content: baseline;
  width: 1100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;


}
.table-cell{
  align-content: baseline;
  justify-content: flex-start;
  width: 250px;
  margin-top: 60px;
  
}

.table-heading{
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table-text_down{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.content{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 890px;
  margin-bottom: 90px;
}

.feynman-title{
  align-self: center;
  text-align: center;
  width: 648px;
  margin-top: 100px;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman-subtitle{
  align-self: center;
  text-align: center;
  padding: 0;
  margin-top: 70px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman-link{
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman-img{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;

}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}